<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center" style="background-image: url(../assets/FondEcran/background-cake.jpg)">-->

  <div class="row">
    <div class="col-md-1">
      <img  [attr.src]="this.getImage()" alt="Responsive image" width="200%">
    </div>
    <div class="col-md-8" style="margin-top: 20px">
      <h2>{{world.money}} €</h2>
    </div>
  <div class="col-md-2" style="margin-top: 35px">
    <form>
      <input type="text" class="mt-2" width="50%" [(ngModel)]="username" name="username" (change)="onUsernameChanged()"
             placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </form>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="buttonleft btn  btn-lg " id="btnManagers" style="background-color:#d8a683" data-toggle="modal" (click)="managersModal.show()" >
          Managers
        </div>
      </div>
      <div class="col-md-6">
        <button id="buyBtn" width="20%" class="buttonleft btn  btn-lg "  style="background-color:#d8a683" (click)="buyMulti()">Buy x {{ qtmulti }}</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-12">
  <div class="row">
    <div class="col-md-6" style="margin-top: 40px">
        <app-product *ngFor="let product of this.world.products.product" [prod]="product" [qtmulti]="qtmulti" class="product" (notifyProduction)="onProductionDone($event)"
                     [money]="world.money" (notifyBuy)="onProductBuy($event)" (notifyUnlocked)="productUnlockDone($event)"></app-product>
        <toaster-container></toaster-container>

<!--      <app-product (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [prod]="world.products.product[0]" (notifyBuy)="onProductBuy($event)" class="product col-md-6"></app-product>-->
<!--    </div>-->
<!--    <div class="col-md-6" style="margin-top: 40px">-->
<!--      <app-product (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [prod]="world.products.product[1]" (notifyBuy)="onProductBuy($event)" class="product col-md-6"></app-product>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-md-6" style="margin-top: 40px">-->
<!--      <app-product (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [prod]="world.products.product[2]" (notifyBuy)="onProductBuy($event)" class="product col-md-6"></app-product>-->
<!--    </div>-->
<!--    <div class="col-md-6" style="margin-top: 40px">-->
<!--      <app-product (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [prod]="world.products.product[3]" (notifyBuy)="onProductBuy($event)" class="product col-md-6"></app-product>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-md-6" style="margin-top: 40px">-->
<!--      <app-product (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [prod]="world.products.product[4]" (notifyBuy)="onProductBuy($event)" class="product col-md-6"></app-product>-->
<!--    </div>-->
<!--    <div class="col-md-6" style="margin-top: 40px" >-->
<!--      <app-product (notifyProduction)="onProductionDone($event)" [qtmulti]="qtmulti" [prod]="world.products.product[5]" (notifyBuy)="onProductBuy($event)" class="product col-md-6"></app-product>-->
<!--    </div>-->
<!--  </div>-->
    </div>
  </div>
  <div class="row">

  </div>

      <app-modal #managersModal>
        <div class="app-modal-header">
          <h4 class="modal-title text-center" style="font-size:x-large;">Managers make you feel better !</h4>
        </div>
        <div class="app-modal-body" style="padding-right: 10px;">
          <div *ngFor="let manager of world.managers.pallier">
            <div *ngIf="!manager.unlocked" class="row rounded notif border-bottom">
              <div class="col-md-5">
                <img class="img-responsive" [src]="'http://localhost:8080/'+manager.logo" style="cursor:pointer" />
              </div>
              <div class="col-md-7">
                <div class="row">
                  <button class="btn btn-info pull-right" style="height: 100px; width: 100px;" (click)="buyManager(manager)" [disabled]="world.money < manager.seuil">Hire!</button>
                  <span class="txt2 row text-center font-weight-bold" style="font-size:x-large; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{manager.name}}
                    <br><span>Price : {{manager.seuil}} €</span>
                            </span>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="app-modal-footer"> <button type="button" class="btn btn-default" (click)="managersModal.hide()">Close</button> </div>
      </app-modal>
