<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h4 class="card-title mt-3">{{product.name}}</h4>
      <div class="logo">
        <img class="rond" [attr.src]="this.getImage()" width="40%" (click)="startFabrication()" style="cursor:pointer"/>
        <h5 class="card-title mt-3"> Quantité : {{product.quantite}}</h5>

      </div>
    </div>
    <div class="col-md-2">
      <div class="progress" #bar ></div>
      <button type=button class="button col-md-5 btn btn-warning btn-md"  style="background-color: #d8a683" (click)="updateBuy()" [disabled]="_money < calcCout(buyQuantite())">Buy {{_qtmulti}}</button>
    </div>
</div>
